#include "toucan.dtsi"

/ {
    // Pointer speed adjustable from the Toucan Studio app (toucan-studio firmware module).
    // 225 = the previous `&zip_xy_scaler 9 4`.
    toucan_pointer_speed: toucan_pointer_speed {
        compatible = "zmk,input-processor-toucan-pointer-speed";
        #input-processor-cells = <0>;
        default-scale-x100 = <225>;
    };

    // Scroll settings adjustable from the Toucan Studio app. Defaults reproduce the previous
    // chains: `zip_scroll_transform Y_INVERT` + `zip_scroll_scaler 1 16` / `1 5`.
    // Each node is used twice: <&node 0> = direction, <&node 1> = speed.
    toucan_scroll_precision: toucan_scroll_precision {
        compatible = "zmk,input-processor-toucan-scroll";
        #input-processor-cells = <1>;
        mode = <0>;
        default-speed-x10000 = <625>;
        default-dir = <1>;
    };

    toucan_scroll_inertia: toucan_scroll_inertia {
        compatible = "zmk,input-processor-toucan-scroll";
        #input-processor-cells = <1>;
        mode = <1>;
        default-speed-x10000 = <2000>;
        default-dir = <1>;
        inertia = <&scroll_inertia>;
        default-start = <20>;
        default-decay = <990>;
        // Coasting runs at 5/6 of active scrolling, as with scale 1 / scale-div 6 before.
        coast-ratio = <5 6>;
    };

    scroll_inertia: scroll_inertia {
        compatible = "zmk,input-processor-scroll-inertia";
        #input-processor-cells = <0>;
        // Reset inertia state as soon as the scroll layer turns off.
        layer = <2>;
        axis = <0>;
        scale = <1>;
        scale-div = <6>;
        start = <20>;
        move = <50>;
        min-events = <5>;
        decel-samples = <2>;
        release = <24>;
    };
};

&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                <NRF_PSEL(SPIM_MOSI, 1, 15)>,
                <NRF_PSEL(SPIM_MISO, 1, 14)>;
        };
    };

     spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>,
                    <NRF_PSEL(SPIM_MISO, 1, 14)>;
            low-power-enable;
        };
    };

};

nice_view_spi: &spi0 {
   compatible = "nordic,nrf-spim";
   pinctrl-0 = <&spi0_default>;
   pinctrl-1 = <&spi0_sleep>;
   pinctrl-names = "default", "sleep";
   cs-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
};

&xiao_i2c {
    status = "disabled";
};

&kscan0 {
    col-gpios
    = <&gpio0 9 GPIO_ACTIVE_HIGH>
    , <&gpio0 4 GPIO_ACTIVE_HIGH>
    , <&gpio0 10 GPIO_ACTIVE_HIGH>
    , <&gpio0 5 GPIO_ACTIVE_HIGH>
    , <&gpio1 11 GPIO_ACTIVE_HIGH>
    , <&gpio1 12 GPIO_ACTIVE_HIGH>
    ;
};

&glidepoint_listener {
    status = "okay";
    input-processors = <&toucan_pointer_speed>;

    /delete-node/ scroller;

    precision_scroller {
        layers = <1>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &toucan_scroll_precision 0
            &toucan_scroll_precision 1
        >;
    };

    inertia_scroller {
        layers = <2>;
        input-processors = <
            &zip_xy_to_scroll_mapper
            &toucan_scroll_inertia 0
            &scroll_inertia
            &toucan_scroll_inertia 1
        >;
    };
};
